* {
  font-family: "Open Sans", sans-serif;
}
.autoMate {
  font-family: "Contrail One", cursive;
  margin-left: 236px;
}
body {
  background: #292d3e !important;
}
h1,
label,
button {
  color: #969db3 !important;
}
form {
  max-width: 1050px;
}
#delete {
  font-size: 21px;
}
#delete,
.edit {
  color: #6e6e6e !important;
}
#delete:hover,
.edit:hover {
  color: black !important;
}
button {
  background: none !important;
  border: none !important;
  color: #4e4e50 !important;
}
.addVehicle,
.updateMileage {
  background: #533a99 !important;
  border: #533a99 !important;
  color: #969db3 !important;
}
.addVehicle:hover,
.updateMileage:hover {
  background: #3d2b6e !important;
}
.form-control,
.card,
.list-group-item,
.card-body {
  background: #969db3 !important;
}
.form-control {
  border: #969db3 !important;
}
.form-control::placeholder,
button {
  color: #292d3e !important;
}
.updateMilesForm {
  border: solid #292d3e !important;
}
.card {
  border: none;
  border-left: solid 7px #533a99 !important;
}
.card-title,
h5 {
  font-size: 23px;
  font-weight: bold;
}
h6 {
  font-size: 17px;
  font-weight: bold;
}
li {
  font-size: 19px;
}
a {
  color: #533a99 !important;
}
a:hover {
  color: #3d2b6e !important;
}
