$bgTheme: #292D3E !important;
$scrollHoverTheme: rgb(62, 67, 88) !important;
$scrollTheme: rgb(91, 97, 122) !important;
$scrollLightTheme: rgb(122, 129, 156) !important;
$outlineTheme: rgb(83, 58, 153) !important;
$hoverTheme: rgb(61, 43, 110) !important;
$textTheme: rgb(150, 157, 179) !important;
$btnTheme: rgb(78, 78, 80) !important;
$lighterTextTheme: rgb(110, 110, 110) !important;

* {
    font-family: 'Open Sans', sans-serif;
}
.autoMate {
    font-family: 'Racing Sans One', cursive;
    font-size: 49px;
}
body {
    background: $bgTheme;
}
h1, label, button {
    color: $textTheme;
}
#delete {
    font-size: 21px;
}
#delete, .edit {
    color: $lighterTextTheme;
}
#delete:hover, .edit:hover {
    color: black !important;
}
button {
    background: none !important;
    border: none !important;
    color: $btnTheme;
}
.addVehicle, .updateMileage {
    background: $outlineTheme;
    border: $outlineTheme;
    color: $textTheme;
}
.addVehicle:hover, .updateMileage:hover {
    background: $hoverTheme;
}
.form-control, .card, .list-group-item, .card-body, .modal-content {
    background: $textTheme;
}
.form-control {
    border: $textTheme;
}
.form-control::placeholder, button {
    color: $bgTheme;
}
.updateMilesForm {
    border: solid $bgTheme;
}
.card {
    border: none;
    border-left: solid 7px $outlineTheme;
}
.card-title, h5 {
    font-size: 23px;
    font-weight: bold;
}
h6, .updateLabel {
    font-size: 17px;
    font-weight: bold;
}
li {
    font-size: 19px;
}
.updateLabel {
    color: $bgTheme;
}
.table {
    border-bottom: solid 5px $outlineTheme;
    background: $bgTheme;
    color: $textTheme;
}
.modal-header {
    border-bottom: solid 1px $btnTheme;
}
th {
    font-size: 15px;
}
a {
    color: $outlineTheme;
}
a:hover {
    color: $hoverTheme;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $scrollLightTheme; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $scrollTheme; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $scrollHoverTheme; 
  }